@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;600&display=swap');

body{
	font-family: 'Mitr', sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	background-color: #fecae2;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.body-box{

	max-width: 1014px;
	margin: 100px auto;
}

.navi-box{

	max-width: 1000px;
	background-color: #ffffff;
	margin: 10px auto 10px auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 
		0px 5px 15px 0px #f19bc3;

	opacity: 0;

	animation-name: fadeIn;
	animation-duration: 1s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
}

.titlebar{
	max-width: 1000px;
	background-color: #ffffff;
	margin: 10px auto 10px auto;
	padding: 20px 20px 600px 20px;
	border-radius: 5px;
	box-shadow: 
		0px 5px 15px 0px #f19bc3;

	opacity: 0;

	animation-name: fadeIn;
	animation-duration: 1.2s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
}

footer{
	
	color: #FFFFFF;

	max-width: 1000px;
	background-color: #ffffff;
	margin: 10px auto 10px auto;
	padding: 20px 20px 20px 20px;
	border-radius: 5px;
	box-shadow: 
		0px 5px 15px 0px #f19bc3;

	opacity: 0;

	animation-name: fadeIn;
	animation-duration: 1.4s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
}

.navi-btn{

	font-family: 'Mitr', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #e087b0;
	text-transform: uppercase;
	text-align: left;

	background-color: #f19bc3;
	background-image: linear-gradient(to right, #FFFFFF 50%, transparent 50%);
	background-size: 200%;
	background-position: 0%;

	width: 24.1%;
	margin-left: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 5px;
	padding: 10px 20px;
	border: 3px solid #fdb1d5;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.current-btn{
	font-family: 'Mitr', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: left;

	background-color: #f19bc3;

	width: 24.1%;
	margin-left: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 5px;
	padding: 10px 20px;
	border: 3px solid #f19bc3;
	border-radius: 5px;
}

.btn-text{
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: 1.6s;
	animation-delay: .2s;
	animation-fill-mode: forwards;
}

.navi-btn:hover{
	color: #FFFFFF;
	border: 3px solid #f19bc3;
	background-position: 100%;
	cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}