/*CSS for Home Page*/

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;600&display=swap');

body{
	font-family: 'Mitr', sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	background-color: #cae2fe;
	background-image: url("../Sources/IndexBG.png");
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

/*Fixing Height of page*/

.body-box{

	max-width: 1014px;
	margin: 100px auto;
}

/*Box that holds the navigation buttons*/

.navi-box{

	max-width: 1000px;
	background-color: #ffffff;
	margin: 10px auto 10px auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 
		0px 5px 15px 0px #9BC3F1;
	filter: drop-shadow(0px 0px 3px #3686e3);

	opacity: 0;

	animation-name: fadeIn;
	animation-duration: 1s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
}

/*Main text box*/

.titlebar{
	max-width: 1000px;
	background-color: #ffffff;
	margin: 10px auto 10px auto;
	padding: 30px 30px 30px 30px;
	border-radius: 5px;
	box-shadow: 
		0px 5px 15px 0px #9BC3F1;
	filter: drop-shadow(0px 0px 3px #3686e3);

	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.4s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
	
}

.body-txt{
	display: flex;
}

.body-left{
	font-size:.7vw;
	max-height: 800px;
	overflow-y: overlay;

	margin-left: 20px;
	margin-top: 110px;
	margin-right: 70px;
	min-width: 52%;
	max-width: 52%;
	border: 3px solid #B1D5FD;
	padding: 10px;
}

.body-right{
	font-size:.7vw;
	max-height: 660px;
	overflow-y: overlay;
	margin-right: 20px;
	margin-top: 250px;
	border: 3px solid #B1D5FD;
	padding: 10px;
}

/* Header and Footer banners */
.banner {
	margin-left: -40px;
    	height: 80px;
    	float: left;
    	color: #FFF;
    	text-align: center;
    	font-size: 30px;
  }
.topbanner{
    	width: 550px;
    	height: 90px;
    	line-height: 80px;
    	position: absolute;
    	transform:rotate(-1deg);
    	background: #B1D5FD;
    	text-shadow: 
		-1px  0px #589be8, 
		 0px  1px #589be8, 
		 1px  0px #589be8, 
		 0px -1px #589be8,

		 0px  0px 4px #589be8, 
		 0px  0px 4px #589be8, 
		 0px  0px 4px #589be8;
	filter: drop-shadow(0px 0px 3px #3686e3);
  }
.topbanner:before{ /* Top banner overhang */
	content: "";
    	position: absolute;
    	top: -8.5px;
    	left: 1px;
    	border-bottom: 9px solid #9BC3F1;
    	border-left: 10px solid transparent;
  }
  .topbanner:after{ /* Top banner asymmetrical side */
	content: "";
    	position: absolute;
    	right: -14.5px;
    	border-bottom: 70px solid transparent;
    	border-left: 20px solid #B1D5FD;
}

/*Footer*/

footer{
	color: #000;

	max-width: 1000px;
	background-color: #ffffff;
	margin: 10px auto 10px auto;
	padding: 20px 20px 20px 20px;
	border-radius: 5px;
	box-shadow: 
		0px 5px 15px 0px #9BC3F1;
	filter: drop-shadow(0px 0px 3px #3686e3);

	opacity: 0;

	animation-name: fadeIn;
	animation-duration: 1.8s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
}

 /*Styling of the buttons*/

.navi-btn{

	font-family: 'Mitr', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #87B0E0;
	text-transform: uppercase;
	text-align: left;

	background-color: #9BC3F1;
	background-image: linear-gradient(to right, #FFFFFF 50%, transparent 50%);
	background-size: 200%;
	background-position: 0%;

	width: 24.1%;
	margin-left: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 5px;
	padding: 10px 20px;
	border: 3px solid #B1D5FD;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

 /*Styling of the button of the page you are currently on*/

.current-btn{
	font-family: 'Mitr', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: left;

	background-color: #9BC3F1;

	width: 24.1%;
	margin-left: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 5px;
	padding: 10px 20px;
	border: 3px solid #9BC3F1;
	border-radius: 5px;
}

 /*For button text annimation*/

.btn-text{
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: 1.8s;
	animation-delay: .2s;
	animation-fill-mode: forwards;
}

 /*Hover for the working buttons*/

.navi-btn:hover{
	color: #FFFFFF;
	border: 3px solid #9BC3F1;
	background-position: 100%;
	cursor: pointer;
}

 /*fade annimation for the boxes*/

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

